
<html>
<body>
    <style>
        
                a:hover {
                color: #1E90FF; /* Цвет ссылки при наведении на нее курсора мыши */
                /*text-decoration: none;*/ /* Убираем подчеркивание у ссылок */
                cursor:grab;
                 }
    </style>

    <center><H2 style="color: #1E90FF">СПИСОК ВАКАНСИЙ ОАО "ГОМЕЛЬТРАНСНЕФТЬ ДРУЖБА"</H2></center>
    <hr>
    <table style="margin: auto;">
        <tr>
            <td>
                <hr>
                <center><h3 style="color: #1E90FF">ЛПДС "Мозырь"</h3></center>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Мастер контрольно-измерительных приборов и средств автоматики</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Диспетчер</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <hr>
                <center><h3 style="color: #1E90FF">ЦБПО</h3></center>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Начальник РСУ </h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Старший мастер РСУ</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Сторож группы "Охрана" (вахтовый метод)</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Слесарь по ремонту технологических установок 5 разряда</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Электромонтер по испытаниям и измерениям</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Электромонтер по ремонту аппаратуры релейной защиты и автоматики</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Мастер участка комплексного ремонта и обслуживания оборудования</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Бухгалтер</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Облицовщик-плиточник 3 разряда</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Штукатур 5 разряда</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Электромонтер по ремонту и обслуживанию электрооборудования</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <hr>
                <center><h3 style="color: #1E90FF">ФТН "Новополоцк"</h3></center>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Тракторист 5р. АВП ЛПДС "Горки" </h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Тракторист 4р. ЛПУ "Сенно" ЛПДС "Горки" </h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Начальник электротехнического отдела  ФТН "Новополоцк"</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Начальник отдела информационных технологий</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Обходчик линейный 3 разряда НПС "Полоцк" ФТН "Новополоцк" (Минская область)</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Оператор товарный ФТН "Новополоцк" НПС "Полоцк"</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Слесарь по КИП иА 4р. ЛПДС "Горки "ФТН "Новополоцк"</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Слесарь по ремонту технологических установок 4 разряда БПО ФТН "Новополоцк"</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Слесарь-сантехник 4 разряда БПО ФТН "Новополоцк"</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Водитель автомобиля АВП ЛПДС "Горки" </h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Машинист трубоочистительной машины 5р. БПО</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Электромонтер по рем. и обслуж.электрооб.5 р.  ЛПДС "Полоцк" ФТН "Новополоцк"</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Слесарь по КИП и А 5 р. ЛПДС "Полоцк"</h4></a></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><a><h4>Контролер на КПП ЛПДС "Горки"</h4></a></center>
            </td>
        </tr>
    </table>
    <hr>
    <center><p style="color: #1E90FF">По вопросам перевода на вакансии обращаться в отдел кадров аппарата управления.</p></center>
    <center><p style="color: #1E90FF">Телефоны для обращения: </p></center>
    <center><p style="color: #1E90FF">60250  начальник отдела кадров Кобрусева И.В.</p></center>
    <center><p style="color: #1E90FF">60970 - специалист по кадрам Ковалёва И.В. </p></center>
    <hr>
</body>
</html>
